/* ОБНУЛЕНИЕ СТИЛЕЙ */
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
	font-size: 1.2rem;
}

body {
	/* font-family: var(--inter); */
	background-color: #f0d90f;
}

/* Solution */
div {
	width: 350px;
	margin: 0px auto;
	background-color: #f0d90f;
	transition: 0.5s;
	cursor: pointer;
}
a {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background-color: #999a9b;
	margin: 3% 0;
	padding: 3%;
	border-radius: 5px;
	color: #0065fd;
	transition: 0.5s;
}
div:hover a {
	color: #ffffff;
}
a span {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
i {
	height: 100%;
}
img {
	width: 0;
	transform: scale(0);
	transition: 0.5s;
	border-radius: 10px;
}
a:hover img,
span:target+img {
	transform: scale(1);
	width: 90%;
	margin: 10px;
}
i {
	transform: rotate(0) scale(1);
	transition: 0.5s;
}
span:target i {
	transform: rotate(-405deg) scale(2);
}